/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styles */
body {
  background-color: #ECECF0;
  color: #161617;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
}

h2, h3 {
  color: #154890;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 60%;
  margin: auto;
}


/* Test layout for 2- and 3-columns */

/*
.container-2-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column-2 {

}  

.container-3-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column-3 {

}  
*/


/* Header styles */
header {
  background-color: #B9CAE2;
}

h1 {
  color: #092040;
}

nav {
  background-color: #B9CAE2;
}

nav li {
  color: #092040;
  font-weight: bold;
  display: inline;
  padding-right: 3em;
}


/* Footer styles */
footer {
  background-color: #B6B6BB;
  padding: 1.5em 0em;
}