/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styles */
body {
  background-color: #FFFFFF;
  color: #161617;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 2;
}

h2 {
  color: #752327;
  font-size: 3rem;
}

h4 {
  color: #82393C;
  font-weight: 500;
  font-size: 1.75rem;
}

section {
  padding-top: 2rem;
}

h3 {
  padding-top: 1.5rem;
  color: #82393c;
  font-size: 2rem;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

.list-blog {
  list-style-type: disc;
  padding-left: 2.5rem;
}

.container {
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
}

.inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

#projects-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 2rem;
  justify-content: space-between;
}

.project-card {
  width: 40%;
  min-width: 20rem;
  min-height: 30rem;
  margin-bottom: 4rem;
  border: #161617 solid 1px;
  box-shadow: 10px 10px 4px #D1D2CF;
}

.project-card h3 {
  padding-top: 0rem;
  margin-left: 1rem;
}

.project-card p {
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 2rem;
}

.project-card img {
  width: 100%;
  border-bottom: #161617 solid 1px;
}

.project-card a {
  color: #161617;
  text-decoration: none;
  margin: 1rem 1rem;
  padding: 0.25rem;
  background-color: #D1D2CF;
  display: inline-block;
  border: #161617 solid 1px;
  border-radius: 5px;
  line-height: 1.5rem;
}

.project-card a:hover {
  background-color: #555552;
  color: #FFFFFF;
}

#skills-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 2rem;
}

.skills-card {
  width: 30%;
  min-width: 15rem;
}

.skills-card li {
  list-style: none;
}

/* Header and navigation bar styles */
header {
  background-color: #D1D2CF;
}

h1 a {
  color: #51181B;
  text-decoration: none;
  font-size: 4rem;
}

nav {
  background-color: #D1D2CF;
}

nav li {
  display: inline;
  margin-right: 3rem;
}

nav li.right-align {
  margin-right: 0rem;
}

nav a {
  color: #161617;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.75rem;
}

nav a:hover {
  text-decoration: underline;
}

/* Main styles */

.link {
  color: #305b7e;
}

.link:hover {
  color:#161617;
}

.image-right {
  float: right;
  max-width: 30%;
  min-width: 150px;
  margin: 0 0 2rem 2rem;
}

.note {
  font-size: 1.25rem;
}

.image-centre {
 max-width: 70%;
 margin: 1rem auto;
 display: inherit;
 border: #161617 solid 1px;
 box-shadow: 10px 10px 4px #D1D2CF;
}

figcaption {
  text-align: center;
  font-size: 1.25rem;
}

/* Footer styles */
footer {
  background-color: #D1D2CF;
  padding: 1.5rem 0rem;
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
}

.line-space {
  padding-bottom: 1rem;
}