/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main styles */
body {
  background-color: #FFFFFF;
  color: #161617;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

h2 {
  color: #205b91;
  font-size: 2.5rem;
  font-weight: 400;
  padding-bottom: 1.5rem;
}

section {
  padding-top: 2rem;
}

h3 {
  color: #205b91;
  font-size: 1.75rem;
  font-weight: 400;
}

p {
  padding-bottom: 1.5rem;
}

.center-text {
  text-align: center;
}

ul {
  list-style-type: none;
}

.list-blog {
  list-style-type: disc;
  padding-bottom: 1.5rem;
  padding-left: 2.5rem;
}

.container {
  width: 70%;
  max-width: 1500px;
  margin: 0 auto;
}

#about {
  background-color: #d2dee9;
  border-radius: 20px;
  padding: 1rem 0.5rem 0rem 1.5rem;
  margin-top: 3rem;
}

#about h2 {
  color: #161617;
  text-align: left;
}

#about h3 {
  color: #161617;
}

.left-content {
  max-width: 67%;
}

.right-content {
  max-width: 33%;
  padding-left: 3rem;
  padding-right: 1rem;
}

.inline-portrait {
  max-width: 100%;
}

#projects h3 {
  color:#161617;
}

#contact {
  text-align: center;
}

.inline-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

#projects-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.project-card {
  display: flex;
  flex-wrap: nowrap;
  background-color: #e8e8e8 ;
  padding: 1rem;
  margin: 0rem 0rem 4rem;
  box-shadow: 10px 10px 4px #D1D2CF;
}

.last-card {
  margin-bottom: 1rem;
}

.card-image {
  max-width: 50%;
}

.card-text {
  padding: 2rem 2rem 0rem;
}

.card-text p {
  padding-top: 1rem;
}

.project-card img {
  max-width: 100%;
  vertical-align: middle;
}

.button-secondary {
  color: #205b91;
  text-decoration: none;
  margin: 1rem 2rem 1rem 0rem;
  padding: 0.75rem 1.5rem;
  background-color: #FFFFFF;
  display: inline-block;
  border: #205b91 solid 2px;
  border-radius: 10px;
  line-height: 1.5rem;
}

.button-secondary:hover {
  background-color: #205b91;
  color: #FFFFFF;
}

/* Header and navigation bar styles */

header {
  background-color: #205b91;
}

h1 a {
  color: #ffffff;
  text-decoration: none;
  font-size: 3.5rem;
  font-weight: 400;
}

nav li {
  display: inline;
  margin-right: 3rem;
}

nav li.right-align {
  margin-right: 0rem;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.75rem;
}

nav a:hover {
  text-decoration: underline;
}

/* Main styles */

.button-primary {
  color: #FFFFFF;
  text-decoration: none;
  margin: 1rem 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #205b91;
  display: inline-block;
  border: #205b91 solid 2px;
  border-radius: 10px;
  line-height: 1.5rem;
}

.button-primary:hover {
  background-color: #FFFFFF;
  color: #205b91;
}

.link {
  color: #161617;
}

.link:hover {
  color: #205b91;
}

.persona-text {
  font-size: 1.25rem;
  list-style-type: disc;
  padding-left: 2rem;
  padding-right: 1rem;
}

/* .image-right {
  float: right;
  max-width: 30%;
  min-width: 150px;
  margin: 0 0 2rem 2rem;
} */

/* .image-persona {
  float: right;
  max-width: 50%;
  min-width: 200px;
  margin: 1rem 1rem 1rem 1rem;
} */

.image-centre {
 max-width: 70%;
 margin: 1rem auto;
 display: inherit;
 border: #161617 solid 2px;
 box-shadow: 10px 10px 4px #D1D2CF;
}

.image-small-centre {
  max-width: 40%;
  margin: 1rem auto;
  display: inherit;
  border: #161617 solid 2px;
  box-shadow: 10px 10px 4px #D1D2CF;
 }

.image-wide {
 max-width: 100%;
 margin: 1rem auto;
 display: inherit;
 border: #161617 solid 2px;
 box-shadow: 10px 10px 4px #D1D2CF;
}

.inline-image-wide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  margin: 1rem 1rem;
  border: #161617 solid 2px;
  box-shadow: 10px 10px 4px #D1D2CF;
}

figcaption {
  text-align: center;
  font-size: 1.25rem;
}

.caption-space {
  padding-bottom: 2rem;
}

/* Footer styles */
footer {
  padding-top: 1.5rem;
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
}

.line-space {
  padding-bottom: 1rem;
}

/* Media query styles */

@media screen and (max-width: 1500px) {
  .left-content {
    max-width: 100%;
  }

  .right-content {
    margin: 0.5rem auto;
    padding-left: 0rem;
    padding-right: 0rem;
    text-align: center;
  }

  .card-image {
    display: flex;
    align-items: center;
  }
}

/* Media query styles - Tablet screen */

@media screen and (max-width: 1000px) {
  body {
    font-size: 1.25rem;
    line-height: 1.3;
  }

  h2 {
    font-size: 2rem;
    padding-bottom: 1.25rem;
  }
  
  section {
    padding-top: 1.5rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  p {
    padding-bottom: 1.25rem;
  }

  .list-blog {
    padding-bottom: 1.25rem;
    padding-left: 2.5rem;
  }
  
  #about {
    border-radius: 10px;
    padding: 1rem 0.5rem 0rem 1.5rem;
    margin-top: 2rem;
  }

  .project-card {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;
    margin: 0rem 0rem 3rem;
  }

  .last-card {
    margin-bottom: 0.5rem;
  }

  .card-image {
    max-width: 40%;
  }
  
  .card-text {
    padding: 1rem 1.5rem;
  }
  
  .card-text p {
    padding-top: 1rem;
  }
  
  .button-secondary {
    margin: 1rem 1rem 0rem 0rem;
    padding: 0.75rem 1.5rem;
    display: inline-block;
    border: #205b91 solid 2px;
    border-radius: 10px;
    line-height: 1.3rem;
  }

  h1 a {
    font-size: 2.75rem;
  }
  
  nav li {
    display: inline;
    margin-right: 3rem;
  }
  
  nav a {
    font-size: 1.5rem;
  }

  .button-primary {
    margin: 1rem 2rem;
    padding: 0.75rem 1.5rem;
    display: inline-block;
    border: #205b91 solid 2px;
    border-radius: 10px;
    line-height: 1.3rem;
  }
  
  .persona-text {
    font-size: 1.1rem;
    list-style-type: disc;
    padding-left: 2rem;
    padding-right: 1rem;
  }

  figcaption {
    font-size: 1.1rem;
  }
  
  .caption-space {
    padding-bottom: 1.5rem;
  }
  
  /* Footer styles */
  footer {
    padding-top: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  
  .line-space {
    padding-bottom: 1rem;
  }

}

@media screen and (max-width: 640px) {
  body {
    font-size: 1.1rem;
    line-height: 1.1;
  }

  h2 {
    font-size: 1.75rem;
    padding-bottom: 1.1rem;
  }
  
  section {
    padding-top: 1.25rem;
  }
  
  h3 {
    font-size: 1.3rem;
  }
  
  p {
    padding-bottom: 1.1rem;
  }

  .list-blog {
    padding-bottom: 1.1rem;
    padding-left: 2rem;
  }
  
  #about {
    border-radius: 8px;
    padding: 1rem 0.5rem 0rem 1rem;
    margin-top: 1.5rem;
  }

  .project-card {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 0rem 0rem 2rem;
  }

  .last-card {
    margin-bottom: 0.5rem;
  }

  .card-image {
    max-width: 100%;
  }
  
  .card-text {
    padding: 1rem 1rem;
  }
  
  .card-text p {
    padding-top: 1rem;
  }
  
  .button-secondary {
    margin: 1rem 2rem 0rem 0rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    border: #205b91 solid 2px;
    border-radius: 8px;
    line-height: 1.1rem;
  }

  h1 a {
    font-size: 2.25rem;
  }
  
  nav li {
    display: inline;
    margin-right: 3rem;
  }
  
  nav a {
    font-size: 1.25rem;
  }

  .button-primary {
    margin: 1rem 2rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    border: #205b91 solid 2px;
    border-radius: 8px;
    line-height: 1.1rem;
  }
  
  .persona-text {
    font-size: 1rem;
    list-style-type: disc;
    padding-left: 2rem;
    padding-right: 1rem;
  }

  figcaption {
    font-size: 1rem;
  }
  
  .caption-space {
    padding-bottom: 1.25rem;
  }
  
  /* Footer styles */
  footer {
    padding-top: 1rem;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  
  .line-space {
    padding-bottom: 1rem;
  }

}